<div class="menu gui">

    <div class="title">{{app.config.lang.menu.Helpbar}}</div>
    <div class="line"></div>

    <div class="option">
        {{app.config.lang.menu.ShowGameCounts}}
        <image-toggle class="checkbox right"
                ng-model="app.config.app.ShowGameCounts"
                on-svg="resources/checkbox_checked.svg"
                off-svg="resources/checkbox_unchecked.svg">
        </image-toggle>
    </div>
    <div class="line"></div>

    <div class="option">
        {{app.config.lang.menu.ShowAddFields}}
        <image-toggle class="checkbox right"
                ng-model="app.config.app.ShowAddFields"
                on-svg="resources/checkbox_checked.svg"
                off-svg="resources/checkbox_unchecked.svg">
        </image-toggle>
    </div>
    <div class="line"></div>

    <div class="option">
        {{app.config.lang.menu.ShowThemeSelect}}
        <image-toggle class="checkbox right"
                ng-model="app.config.app.ShowThemeSelect"
                on-svg="resources/checkbox_checked.svg"
                off-svg="resources/checkbox_unchecked.svg">
        </image-toggle>
    </div>
    <div class="line"></div>

    <div class="option">
        {{app.config.lang.menu.ShowViewSelect}}
        <image-toggle class="checkbox right"
                ng-model="app.config.app.ShowViewSelect"
                on-svg="resources/checkbox_checked.svg"
                off-svg="resources/checkbox_unchecked.svg">
        </image-toggle>
    </div>
    <div class="line"></div>

    <div class="option">
        {{app.config.lang.menu.ShowEmptySystems}}
        <image-toggle class="checkbox right"
                ng-model="app.config.app.ShowEmptySystems"
                on-svg="resources/checkbox_checked.svg"
                off-svg="resources/checkbox_unchecked.svg">
        </image-toggle>
    </div>
    <div class="line"></div>

    <div class="option">
        {{app.config.lang.menu.ShowEmptyDirectories}}
        <image-toggle class="checkbox right"
                ng-model="app.config.app.ShowEmptyDirectories"
                on-svg="resources/checkbox_checked.svg"
                off-svg="resources/checkbox_unchecked.svg">
        </image-toggle>
    </div>
    <div class="line"></div>

    <div class="footer">
         <button ng-click="app.exitMenu()">{{app.config.lang.button.back}}</button>
    </div>

</div>
