<div class="menu gui">

    <div class="title">{{app.config.lang.menu.Uploads}}</div>
    <div class="line"></div>

    <span ng-if="app.config.edit">

        <div class="option">
            {{app.config.lang.menu.uploadImageDirectory}}
            <input class="right large"
                 ng-model="app.config.app.uploadImageDirectory"
                 ng-keydown="app.menuKeyPress($event)"
                 ng-blur="app.appConfigChanged('uploadImageDirectory')">
        </div>
        <div class="line"></div>

        <div class="option">
            {{app.config.lang.menu.uploadVideoDirectory}}
            <input class="right large"
                 ng-model="app.config.app.uploadVideoDirectory"
                 ng-keydown="app.menuKeyPress($event)"
                 ng-blur="app.appConfigChanged('uploadVideoDirectory')">
        </div>
        <div class="line"></div>

        <div class="option">
            {{app.config.lang.menu.uploadMarqueeDirectory}}
            <input class="right large"
                 ng-model="app.config.app.uploadMarqueeDirectory"
                 ng-keydown="app.menuKeyPress($event)"
                 ng-blur="app.appConfigChanged('uploadMarqueeDirectory')">
        </div>
        <div class="line"></div>

        <div class="option">
            {{app.config.lang.menu.maxImageSize}}
            <input class="right tiny"
                 ng-model="app.config.app.maxImageSize"
                 ng-keydown="app.menuKeyPress($event)"
                 ng-blur="app.appConfigChanged('maxImageSize')">
        </div>
        <div class="line"></div>

        <div class="option">
            {{app.config.lang.menu.maxMarqueeSize}}
            <input class="right tiny"
                 ng-model="app.config.app.maxMarqueeSize"
                 ng-keydown="app.menuKeyPress($event)"
                 ng-blur="app.appConfigChanged('maxMarqueeSize')">
        </div>
        <div class="line"></div>

    </span>

    <div class="footer">
         <button ng-click="app.exitMenu()">{{app.config.lang.button.back}}</button>
    </div>

</div>
