/* app css stylesheet */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.view {
    position: absolute;
    top: 0;
}


@font-face {
    font-family: 'ohc_regular';
    src: url('svr/resources/opensans_hebrew_condensed_regular.ttf');
}
@font-face {
    font-family: 'ohc_light';
    src: url('svr/resources/opensans_hebrew_condensed_light.ttf');
}

body {
    color: #777777;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ohc_regular;
    font-size: 3.5vmin;
}

input, select, option, textarea {
    color: #777;
    background: transparent;
    font-family: ohc_regular;
    font-size: 3vmin;
    padding: 0;
}
input, select, textarea {
    border: 1px solid #777;
    border-radius: 4%;
}

.click, button {
    cursor: pointer;
}

.window_size {
    min-width: 100vw;
    min-height: 100vh;
    /*
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    */
}

.icon {
    vertical-align: middle;
    margin: -0.8vmin 0 0 0;
    width: 2.8vmin;
    height: 2.8vmin;
}

.text {
    position: absolute;
    z-index: 40;
    float: left;
}

.text_inner {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text_multiline {
    position: absolute;
    z-index: 40;
    overflow: hidden;
    white-space: pre-wrap;
}

.text_multiline_inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
}

.gamelist_outer {
    position: absolute;
    overflow-y:  auto;
    outline: none;
}
.gamelist {
    position: relative;
    outline: none;
    z-index: 20; /* wiki 75; */
}
.gamelist_selector {
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index: 21;
}
.gamelist_context {
    color: #777777;
    background-color: #ddd;
    font-size: 3vmin;
    position: absolute;
    min-width: 10%;
    z-index: 80;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.4);
    padding: 0% 3% 0 2%;
}
.gamerow {
    position: absolute;
    z-index: 22;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}
.header {
    position: absolute;
    white-space: nowrap;
}
.headerfield {
    top:  50%;
    transform: translate(0,-50%);
    line-height: 135%;
    border-bottom: 1px solid rgba(150,150,150,0.4); 
    overflow: hidden;
    text-overflow: hidden;
    cursor: pointer;
}
.gamefield {
    top:  50%;
    transform: translate(0,-50%);
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating_background {
    background-size: auto 100%;    /* 5 unfilled stars */
    background-repeat: repeat;
    width: 25vh;
    height: 5vh;
    z-index: 40;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: col-resize;
}
.rating_foreground {
    top: 0;
    left: 0;
    background-size: auto 100%;  /* gold filled stars as many as width allows */
    background-repeat: repeat;
    height: 100%;
    z-index: 41;
    padding: 0;
    margin: 0;
}

.system_images_inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
  
.systemcarousel {
    position: absolute;
    z-index: 40;
    text-align: center;
    overflow: hidden;
}
 
.systemtransition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.systemname {
    position: absolute;
    top: -10%;
    transform: translate(0%,-10%);
    z-index: 50;
}
 
.systemlogo {
    color: #555;
    z-index: 50;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
 
.systeminfo {
    top: 90%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 50;
    text-align: center;
    vertical-align: center;
}
 

.helpsystembar {
    position: absolute;
    top: 94.5vh;
    z-index: 175;
    text-transform: uppercase;
}
.helpsystembar input {
    width: 8vmax;
    border-radius: 0.2em;
    font-size: 2.5vmin;
}
.helpsystembar select {
    width: 6vmax;
    font-size: 2.2vmin;
}
.helpsystembar input, .helpsystembar select {
    vertical-align: middle;
    margin-top: -0.7vh;
}
.invert {
    background-color: black;
    color: white;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.inverseLightForeground {
    background: transparent;
    -webkit-filter: invert(100%) saturate(0%) contrast(100%) opacity(90%);
    filter: invert(100%) saturate(0%) contrast(100%) opacity(90%);
}
.inverseDarkForeground {
    background: transparent;
    -webkit-filter: contrast(0%) brightness(0%) opacity(90%);
    filter: contrast(0%) brightness(0%) opacity(90%);
}
 
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
 
/* Dropdown Content (Hidden by Default) */
.dropdown-options {
    font-size: 2.75vmin;
    line-height: 110%;
    position: absolute;
    border-radius: 0.25em;
    z-index: 200;
    white-space: nowrap;
}
/* drop 'down' */
.dropdown-options.down {
    top: 100%;
    box-shadow: 8px 4px 16px 0px rgba(0,0,0,0.2);
}
/* drop 'up' */
.dropdown-options.up {
    bottom: 100%;
    box-shadow: 8px -4px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-options.right {
    right: 0%;
}
.dropdown-options.light {
    background-color: rgba(255,255,255,0.85);
}
.dropdown-options.dark {
    background-color: rgba(0,0,0,0.7);
}
 
/* Links inside the dropdown */
.dropdown-options a {
    text-decoration: none;
    padding: 0.5vh 1vh;
    display: block;
    border-radius: 0.25em;
}
 
.dropdown-options.double {
    width: 30vw;  /* twice min width below */
}
.dropdown-options.double a {
    float: left;
    min-width: 13vw;
}
 
.dropdown-options.treble {
    width: 45vw; /* three times min width below */
}
.dropdown-options.treble a {
    float: left;
    min-width: 13vw;
}
 
.filters {
    /* font-size: 3.2vmin; */
    padding: 0 0.4vw;
    border-radius: 0.25em;
}

.menu {
    color: #777;
    background-color: #ddd;
    position: absolute;
    top: 15.5vh; /* height: 56vh; */
    left: 30vw; width: 40vw;
    z-index: 150;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
}
.menu .title {
    padding: 2% 2%;
    font-size: 7vmin;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.menu .footer {
    padding-bottom: 1vh;
    font-size: 7vmin;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.menu .option {
    padding: 0.75% 2%;
    font-size: 4vmin;
    /* width: 100%; */
}
.menu .option.hover {
    color: #ddd;
    background-color: #999;
}
.menu .line {
    width: 100%;
    height: 1px;
    background-color: #999;
}
.menu .option .icon {
   margin: 1vh 0 0 0;
   width: 3.2vmin;
   height: 3.2vmin;
   border-radius: 0.17em;
}
.menu .option .checkbox {
   background-color: #f0f0f0;
}
.menu .option .right {
   float: right;
}
.menu .option select {
    background-color: #f0f0f0;
}


.game_editor {
    color: #777777;
    background-color: #ddd;
    position: absolute;
    top: 5vh;
    left: 15vw; width: 70vw;
    z-index: 80;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
    padding: 0 3% 0 2%;
}
.game_editor small {
    font-family: 'ohc_light';
    font-size: 75%;
}
.game_editor .rom {
    padding: 1% 2%;
    font-weight: bold;
    font-size: 5vmin;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}
.game_editor .missing {
    color: #c00;
}
.game_editor .found {
    color: #0c0;
    font-weight: bold;
}
.game_editor th {
    text-transform: uppercase;
}
.game_editor td.wide {
    width: 100%;
    /* border-bottom: 1px solid #aaa; */
    /* padding-top: 1%; */
    vertical-align: middle;
}
.game_editor td.narrow {
    width: 45%;
    /* border-bottom: 1px solid #aaa; */
    vertical-align: middle;
    /* padding: 0.5vh 0; */
}
.game_editor th {
    width: 10%;
    max-width: 10%;
    text-align: right;
    vertical-align: top;
    padding-right: 1%;
    /* border-bottom: 1px solid #aaa; */
    /* padding-top: 1%; */
}
.game_editor th.top {
    vertical-align: top;
}
.game_editor .icon {
    /* margin-top: 1vh; */
    height: 3.2vmin;
}

.gui button {
    color: #777777;
    background-color: #ddd;
    border: 2px solid #777777;
    border-radius: 0.3em;
    font-family: ohc_regular;
    padding: 0.15em 0.45em;
    margin: 1% 0.5%;
    font-size: 3.5vmin;
    text-transform: uppercase;
}
.gui button.todo {
    text-decoration: line-through;
}
.gui button:focus {
    color: #ddd;
    background-color: #777777;
    outline: none;
}
.gui button:hover {
    color: #ddd;
    background-color: #999;
}
.gui input, .gui textarea {
    color: #777777;
    background-color: #f0f0f0;
    font-family: ohc_light;
    padding: 0 0.5vw;
    border: 1px solid #444;
    border-radius: 0.25em;
}
.game_editor input[type=number] {
    width: 15%;
    text-align: center;
    margin-right: 0.25vw;
}
.game_editor input[type=date] {
    width: 55%;
    text-align: center;
}
.game_editor input, .game_editor select {
    width: 100%;
    margin: 0.1vh 0;
}
.game_editor input.missing {
    color: red;
    border: 2px solid red;
}
.game_editor textarea {
    width: 100%;
    height: 100%;
    margin: 0.1vh 0 0 0;
    font-size: 3vmin;
}
.game_editor .snap {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%;
}

.hr {
    width: 98%;
    height: 1px;
    background-color: #555;
    margin: 5px 0;
}

.progressbar {
    text-align: center;
    font-size: 2.5vmin;
    color: #f0f0f0;
    background-color: #888;
}
.upload {
    position: relative;
    font-size: 2.5vmin;
    padding: 1.5vh 2vw;
    background-color: #f0f0f0;
    outline: 2px dashed #444;
    outline-offset: -1vmin;
    margin: 0 1vw;
}
.romupload {
    position: relative;
    padding: 0.5vh 2vw;
    outline: 1px dashed rgba(200,200,200,0.6);
    outline-offset: -0.2vmin;
    margin: 0;
    font-size: 67%;
}
.upload .icon {
    width: 2.5vmin;
    height: 2.5vmin;
}
.uploadfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.uploadfile + label {
    cursor: pointer;
}
.uploadfile:focus + label,
.uploadfile + label:hover {
    font-weight: 700;
}

.fade-in-out {
    -webkit-transition: 0.2s linear all;  
    -moz-transition: 0.2s linear all;  
    -o-transition: 0.2s linear all;  
    transition: 0.2s linear all;  
    opacity: 1;
}
.fade-in-out.ng-hide {
    opacity: 0;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


.slideleft {
    position: absolute;
}
.slideleft.ng-enter,
.slideleft.ng-leave {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.slideleft.ng-enter {
    left: 100%;
}
.slideleft.ng-enter-active {
    left: 0;
}
.slideleft.ng-leave {
    left: 0;
}
.slideleft.ng-leave-active {
    left: -100%;
}

.slideright {
    position: absolute;
}
.slideright.ng-enter,
.slideright.ng-leave {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.slideright.ng-enter {
    left: -100%;
}
.slideright.ng-enter-active {
    left: 0;
}
.slideright.ng-leave {
    left: 0;
}
.slideright.ng-leave-active {
    left: 100%;
}

.slideup {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.slidedown.ng-enter {
    top: -100%;
}
.slidedown.ng-enter-active {
    top: 0;
}
.slidedown.ng-leave {
    top: 0;
}
.slidedown.ng-leave-active {
    top: 100%;
}
