/* app css stylesheet */

html, body {
   height: 100%;
   padding: 0;
   margin: 0;
}

.invert {
   background-color: black;
   color: white;
   -webkit-filter: invert(100%);
   filter: invert(100%);
}
.inverseLightForeground {
   background: transparent;
   -webkit-filter: invert(100%) saturate(0%) contrast(100%) opacity(90%);
   filter: invert(100%) saturate(0%) contrast(100%) opacity(90%);
}
.inverseDarkForeground {
   background: transparent;
   -webkit-filter: contrast(0%) brightness(0%) opacity(90%);
   filter: contrast(0%) brightness(0%) opacity(90%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-options {
   font-size: 2.75vmin;
   line-height: 110%;
   position: absolute;
   border-radius: 0.25em;
   z-index: 100;
   white-space: nowrap;
}
/* drop 'down' */
.dropdown-options.down {
   top: 100%;
   box-shadow: 8px 4px 16px 0px rgba(0,0,0,0.2);
}
/* drop 'up' */
.dropdown-options.up {
   bottom: 100%;
   box-shadow: 8px -4px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-options.light {
   background-color: rgba(255,255,255,0.85);
}
.dropdown-options.dark {
   background-color: rgba(0,0,0,0.7);
}

/* Links inside the dropdown */
.dropdown-options a {
   text-decoration: none;
   padding: 0.5vh 1vh;
   display: block;
   border-radius: 0.25em;
}

.dropdown-options.double {
   width: 30vw;
}
.dropdown-options.double a {
   float: left;
   min-width: 13vw;
}

@font-face {
   font-family: 'ohc_regular';
   src: url('svr/resources/opensans_hebrew_condensed_regular.ttf');
}
@font-face {
   font-family: 'ohc_light';
   src: url('svr/resources/opensans_hebrew_condensed_light.ttf');
}

body {
   color: #777777;
   background-color: black;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-family: ohc_regular;
   font-size: 3.5vmin;
}

input, select, option, textarea {
   color: #777;
   background: transparent;
   font-family: ohc_regular;
   font-size: 3vmin;
   padding: 0;
}
input, select, textarea {
   border: 1px solid #777;
   border-radius: 4%;
}

.click, button {
   cursor: pointer;
}

.window_size {
   position: relative;
   min-width: 100vw;
   min-height: 100vh;
   overflow: hidden;
   padding: 0;
   margin: 0;
}

.icon {
   vertical-align: middle;
   margin: -0.8vmin 0 0 0;
   width: 2.8vmin;
   height: 2.8vmin;
}

.text {
   position: absolute;
   z-index: 60;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   /* padding-top: 0.1%; */
   line-height: 100%;
}

.text_multiline {
   position: absolute;
   z-index: 60;
   overflow: hidden;
   white-space: pre-wrap;
   line-height: 100%;
}

.gamerow {
   position: absolute;
   z-index: 55;
   overflow-y: hidden;
   width: 100%;
   max-width: 100%;
   vertical-align: middle;
   cursor: pointer;
}

.rating_background {
/*
   background-image: url("svr/resources/star_unfilled.svg");
*/
   background-size: auto 100%;    /* 5 unfilled stars */
   background-repeat: repeat;
   width: 25vh;
   height: 5vh;
   z-index: 50;
   padding: 0;
   margin: 0;
   display: inline-block;
   vertical-align: middle;
   cursor: col-resize;
}
.rating_foreground {
   top: 0;
   left: 0;
/*
   background-image: url("svr/color_img.php?file=resources/star_filled.svg&color=FFD400");
*/
   background-size: auto 100%;  /* gold filled stars as many as width allows */
   background-repeat: repeat;
   height: 100%;
   z-index: 51;
   padding: 0;
   margin: 0;
}

.header {
   cursor: pointer;
}

.helpsystembar {
   position: absolute;
   top: 94.5vh;
   z-index: 75;
   text-transform: uppercase;
}
.helpsystembar input {
   width: 8vmax;
   border-radius: 0.2em;
   font-size: 2.5vmin;
}
.helpsystembar select {
   width: 6vmax;
   font-size: 2.2vmin;
}
.helpsystembar input, .helpsystembar select {
   vertical-align: middle;
   margin-top: -0.7vh;
}
.filters {
   /* font-size: 3.2vmin; */
   padding: 0 0.4vw;
   border-radius: 0.25em;
}
/*
.theme_select  {
   position: absolute;
   top:  0;
   left:  50%;
   padding: 0 1%;
   height: 5%;
   max-height: 5%;
   z-index: 70;
   overflow: hidden;
   font-size: 3.2vmin;
}
.theme_select select {
   font-size: 2.5vmin;
}
*/

.menu {
   color: #777;
   background-color: #ddd;
   position: absolute;
   top: 15.5vh; /* height: 56vh; */
   left: 30vw; width: 40vw;
   z-index: 80;
   -webkit-border-radius: 0.25em;
   -moz-border-radius: 0.25em;
   border-radius: 0.25em;
   box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
}
.menu .header {
   padding: 2% 2%;
   font-size: 7vmin;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}
.menu .footer {
   /*
   position: absolute;
   bottom: 0;
   padding: 2% 2%; */
   padding-bottom: 1vh;
   font-size: 7vmin;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}
.menu .option {
   box-sizing: border-box;
   padding: 0.75% 2%;
   font-size: 4vmin;
   width: 100%;
}
.menu .option.hover {
   color: #ddd;
   background-color: #999;
}
.menu .line {
   width: 100%;
   height: 1px;
   background-color: #999;
}
.menu .option .icon {
   margin: 1vh 0 0 0;
   width: 3.2vmin;
   height: 3.2vmin;
   border-radius: 0.17em;
}
.menu .option .checkbox {
   background-color: #f0f0f0;
}
.menu .option .right {
   float: right;
}
.menu .option select {
   background-color: #f0f0f0;
}

.gamelist {
   position: relative;
   outline: none;
   z-index: 75;
}

.gamelist_context {
   color: #777777;
   background-color: #ddd;
   font-size: 3vmin;
   position: absolute;
   min-width: 10%;
   z-index: 80;
   -webkit-border-radius: 0.4em;
   -moz-border-radius: 0.4em;
   border-radius: 0.4em;
   box-shadow: 7px 7px 5px rgba(0,0,0,0.4);
   padding: 0% 3% 0 2%;
}
.game_editor {
   color: #777777;
   background-color: #ddd;
   position: absolute;
   top: 5vh;
   left: 15vw; width: 70vw;
   z-index: 80;
   -webkit-border-radius: 0.8em;
   -moz-border-radius: 0.8em;
   border-radius: 0.8em;
   box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
   padding: 0 3% 0 2%;
}
.game_editor small {
   font-family: 'ohc_light';
   font-size: 75%;
}
.game_editor .rom {
   padding: 1% 2%;
   font-weight: bold;
   font-size: 5vmin;
   text-align: left;
   text-transform: uppercase;
   text-decoration: underline;
}
.game_editor .missing {
   color: #c00;
}
.game_editor .found {
   color: #0c0;
   font-weight: bold;
}
.game_editor th {
   text-transform: uppercase;
}
.game_editor td.wide {
   width: 100%;
   /* border-bottom: 1px solid #aaa; */
   /* padding-top: 1%; */
   vertical-align: middle;
}
.game_editor td.narrow {
   width: 45%;
   /* border-bottom: 1px solid #aaa; */
   vertical-align: middle;
   /* padding: 0.5vh 0; */
}
.game_editor th {
   width: 10%;
   max-width: 10%;
   text-align: right;
   vertical-align: top;
   padding-right: 1%;
   /* border-bottom: 1px solid #aaa; */
   /* padding-top: 1%; */
}
.game_editor th.top {
   vertical-align: top;
}
.game_editor .icon {
   /* margin-top: 1vh; */
   height: 3.2vmin;
}

.gui button {
   color: #777777;
   background-color: #ddd;
   border: 2px solid #777777;
   border-radius: 0.3em;
   font-family: ohc_regular;
   padding: 0.15em 0.45em;
   margin: 1% 0.5%;
   font-size: 3.5vmin;
   text-transform: uppercase;
}
.gui button.todo {
   text-decoration: line-through;
}
.gui button:focus {
   color: #ddd;
   background-color: #777777;
   outline: none;
}
.gui button:hover {
   color: #ddd;
   background-color: #999;
}
.gui input, .gui textarea {
   color: #777777;
   background-color: #f0f0f0;
   font-family: ohc_light;
   padding: 0 0.5vw;
   border: 1px solid #444;
   border-radius: 0.25em;
}
.game_editor input[type=number] {
   width: 15%;
   text-align: center;
   margin-right: 0.25vw;
}
.game_editor input[type=date] {
   width: 55%;
   text-align: center;
}
.game_editor input, .game_editor select {
   width: 100%;
   margin: 0.1vh 0;
   box-sizing: border-box;
}
.game_editor input.missing {
   color: red;
   border: 2px solid red;
   /* box-sizing: border-box; */
}
.game_editor textarea {
   width: 100%;
   height: 100%;
   margin: 0.1vh 0 0 0;
   font-size: 3vmin;
   box-sizing: border-box;
}
.game_editor .snap {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 45%;
}


.systemsbar {
   position: absolute;
   left: 0;
   width: 100vw;
   top: 37.95vh;
   height: 30.47vh;
   z-index: 30;
}

.logobar {
   color: #555;
   background-color: rgba(255,255,255,0.85);
   width: 100vw;
   height: 77%;
   z-index: 31;
}
.infobar {
   color: #555;
   background-color: rgba(220,220,220,0.85);
   width: 100vw;
   text-align: center;
   height: 23%;
   z-index: 31;
   line-height: 170%;
   font-weight: bold;
}

.systemlogo-2 { left: -25%; width: 18%; height:  8%; font-size:  7vmin; }
.systemlogo-1 { left:  12%; width: 23%; height: 12%; font-size: 11vmin; }
.systemlogo0  { left:  50%; width: 35%; height: 17%; font-size: 15vmin; }
.systemlogo1  { left:  88%; width: 23%; height: 12%; font-size: 11vmin; }
.systemlogo2  { left: 125%; width: 18%; height:  8%; font-size:  7vmin; }

.systeminfo-2 { left: -25%; width: 18%; opacity:   0; }
.systeminfo-1 { left:  12%; width: 23%; opacity:   0; }
.systeminfo0  { left:  50%; width: 35%; opacity:   1; }
.systeminfo1  { left:  88%; width: 23%; opacity:   0; }
.systeminfo2  { left: 125%; width: 18%; opacity:   0; }

.systemtransition {
   transition: all 0.3s ease-out;
}

.systemname {
   position: absolute;
   top: -10%;
   transform: translate(0%,-10%);
}

.systemlogo {
   top: 54%;
   transform: translate(-50%,-70%);
   position: absolute;
   z-index: 31;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   vertical-align: center;
   cursor: pointer;
   border: 0;
   background-color: transparent;
   outline: none;
}

.systeminfo {
   top: 90%;
   transform: translate(-50%,-50%);
   position: absolute;
   z-index: 31;
   text-align: center;
   vertical-align: center;
}

.progressbar {
   text-align: center;
   font-size: 2.5vmin;
   color: #f0f0f0;
   background-color: #888;
}
.upload {
   position: relative;
   font-size: 2.5vmin;
   padding: 1.5vh 2vw;
   background-color: #f0f0f0;
   outline: 2px dashed #444;
   outline-offset: -1vmin;
   margin: 0 1vw;
}
.upload .icon {
   width: 2.5vmin;
   height: 2.5vmin;
}
.uploadfile {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}
.uploadfile + label {
   cursor: pointer;
   margin-left: 0.5vw;
}
.uploadfile:focus + label,
.uploadfile + label:hover {
   color: black;
   font-weight: 700;
}

.fade.ng-enter {
  -webkit-animation: Fade-Enter-Anime 0.2s;
  -moz-animation: Fade-Enter-Anime 0.2s;
  animation: Fade-Enter-Anime 0.2s;
}
.fade.ng-leave {
  -webkit-animation: Fade-Leave-Anime 0.3s;
  -moz-animation: Fade-Leave-Anime 0.3s;
  animation: Fade-Leave-Anime 0.3s;
}

@keyframes Fade-Enter-Anime {
     from { opacity: 0; }
     to { opacity: 1; }
   }

@keyframes Fade-Leave-Anime {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes Fade-Enter-Anime {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes Fade-Leave-Anime {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-moz-keyframes Fade-Enter-Anime {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes Fade-Leave-Anime {
  from { opacity: 1; }
  to { opacity: 0; }
}


.slideright,
.slideleft,
.slideup,
.slidedown {
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
}
.slideright.ng-enter,
.slideright.ng-leave,
.slideleft.ng-enter,
.slideleft.ng-leave,
.slideup.ng-enter,
.slideup.ng-leave,
.slidedown.ng-enter,
.slidedown.ng-leave {

  -webkit-transition: 0.5s ease-in-out ;
  -moz-transition: 0.5s ease-in-out ;
  -o-transition: 0.5s ease-in-out ;
  transition: 0.5s ease-in-out ;

}
.slideright.ng-enter        { left: 100%; }
.slideright.ng-enter-active { left: 0; }
.slideright.ng-leave        { left: 0; }
.slideright.ng-leave-active { left: -100%; }
.slideleft.ng-enter        { left: -100%; }
.slideleft.ng-enter-active { left: 0; }
.slideleft.ng-leave        { left: 0; }
.slideleft.ng-leave-active { left: 100%; }
.slideup.ng-enter          { top: 100%; }
.slideup.ng-enter-active   { top: 0; }
.slideup.ng-leave          { top: 0; }
.slideup.ng-leave-active   { top: -100%; }
.slidedown.ng-enter        { top: -100%; }
.slidedown.ng-enter-active { top: 0; }
.slidedown.ng-leave        { top: 0; }
.slidedown.ng-leave-active { top: 100%; }

