/* app css stylesheet */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.view {
    position: absolute;
    top: 0;
}


@font-face {
    font-family: 'ohc_regular';
    src: url('svr/resources/opensans_hebrew_condensed_regular.ttf');
}
@font-face {
    font-family: 'ohc_light';
    src: url('svr/resources/opensans_hebrew_condensed_light.ttf');
}

body {
    color: #777777;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ohc_regular;
    font-size: 3.5vmin;
}

input, select, option, textarea {
    color: #777;
    background: transparent;
    font-family: ohc_regular;
    font-size: 3vmin;
    padding: 0;
}
input, select, textarea {
    border: 1px solid #777;
    border-radius: 4%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbb;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bbb;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bbb;
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bbb;
    font-style: italic;
}

.click, button {
    cursor: pointer;
}

.window_size {
    min-width: 100vw;
    min-height: 100vh;
    /*
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    */
}

.icon {
    vertical-align: middle;
    margin: -0.8vmin 0 0 0;
    width: 2.8vmin;
    height: 2.8vmin;
}

.text {
    position: absolute;
    z-index: 40;
    float: left;
}

.text_inner {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
    top: 0%;
}
.text_inner.vcenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text_multiline {
    position: absolute;
    z-index: 40;
    overflow: hidden;
    white-space: pre-wrap;
}

.text_multiline_inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
}

.gamelist_outer {
    position: absolute;
    overflow-y:  auto;
    outline: none;
}
.gamelist {
    position: relative;
    outline: none;
    z-index: 20;
}
.gamelist_selector {
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index: 21;
}
.gamelist_context {
    color: #777777;
    background-color: #ddd;
    font-size: 3vmin;
    position: absolute;
    min-width: 10%;
    z-index: 80;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.4);
    padding: 0% 3% 0 2%;
}
.gamerow {
    position: absolute;
    z-index: 22;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}
.header {
    position: absolute;
    white-space: nowrap;
}
.headerfield {
    top:  50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 135%;
    border-bottom: 1px solid rgba(150,150,150,0.4); 
    overflow: hidden;
    text-overflow: hidden;
    cursor: pointer;
}
.gamefield {
    top:  50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating_background {
    background-size: auto 100%;    /* 5 unfilled stars */
    background-repeat: repeat;
    width: 25vh;
    height: 5vh;
    z-index: 40;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: col-resize;
}
.rating_foreground {
    top: 0;
    left: 0;
    background-size: auto 100%;  /* gold filled stars as many as width allows */
    background-repeat: repeat;
    height: 100%;
    z-index: 41;
    padding: 0;
    margin: 0;
}

.system_images_inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
  
.systemcarousel {
    position: absolute;
    text-align: center;
    overflow: hidden;
}
 
.systemtransition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.systemname {
    position: absolute;
    top: -10%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    z-index: 50;
}
 
.systemlogo {
    color: #555;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
 
.uppercase {
    text-transform: uppercase;
}

.helpsystembar {
    position: absolute;
    top: 94.5vh;
    z-index: 5030;
    text-transform: uppercase;
}
.helpsystembar input {
    width: 8vmax;
    border-radius: 0.2em;
    font-size: 2.5vmin;
}
.helpsystembar select {
    width: 6vmax;
    font-size: 2.2vmin;
}
.helpsystembar input, .helpsystembar select {
    vertical-align: middle;
    margin-top: -0.7vh;
}
.invert {
    background-color: black;
    color: white;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.inverseLightForeground {
    background: transparent;
    -webkit-filter: invert(100%) saturate(0%) contrast(100%) opacity(90%);
    filter: invert(100%) saturate(0%) contrast(100%) opacity(90%);
}
.inverseDarkForeground {
    background: transparent;
    -webkit-filter: contrast(0%) brightness(0%) opacity(90%);
    filter: contrast(0%) brightness(0%) opacity(90%);
}
 
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
 
/* Dropdown Content (Hidden by Default) */
.dropdown-options {
    font-size: 2.75vmin;
    line-height: 110%;
    position: absolute;
    border-radius: 0.25em;
    z-index: 5040;
    white-space: nowrap;
}
/* drop 'down' */
.dropdown-options.down {
    top: 100%;
    box-shadow: 8px 4px 16px 0px rgba(0,0,0,0.2);
}
/* drop 'up' */
.dropdown-options.up {
    bottom: 100%;
    box-shadow: 8px -4px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-options.right {
    right: 0%;
}
.dropdown-options.light {
    background-color: rgba(255,255,255,0.85);
}
.dropdown-options.dark {
    background-color: rgba(0,0,0,0.7);
}
 
/* Links inside the dropdown */
.dropdown-options a {
    text-decoration: none;
    padding: 0.5vh 1vh;
    display: block;
    border-radius: 0.25em;
}
 
.dropdown-options.double {
    width: 30vw;  /* twice min width below */
}
.dropdown-options.double a {
    float: left;
    min-width: 13vw;
}
 
.dropdown-options.treble {
    width: 45vw; /* three times min width below */
}
.dropdown-options.treble a {
    float: left;
    min-width: 13vw;
}
 
.filters {
    /* font-size: 3.2vmin; */
    padding: 0 0.4vw;
    border-radius: 0.25em;
}

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 5069;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.menu_in {
    position: relative;
    animation-name: menu_in_anim;
    animation-duration: 0.5s
}

.element-mover {
    position: absolute;
    z-index: 1000;
    border: 2px solid red;
    color: yellow;
    background-color: rgba(80,80,50,0.3);
    background-image: url("svr/resources/alpha.png");
    background-repeat: repeat;
    overflow: hidden;
    outline: 2px dashed yellow;
    outline-offset: -2px;
    padding: 2px 8px;
    font-size: 2vmin;
    box-sizing: border-box;
}

.element-properties {
    position: absolute;
    z-index: 1001;
    top: 20vh;
    left: 10vw;
    border: 2px solid yellow;
    color: yellow;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 8px;
    font-size: 2.5vmin;
    z-index: 80;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.4);
}

/* Add Animation */
@-ms-keyframes menu_in_anim {
    from { top: 100vh; left: -50vw; opacity: 0; -ms-transform: scale(0.1,0.1); }
    to   { top: 0;     left: 0;     opacity: 1; -ms-transform: scale(1,1); }
}

@-webkit-keyframes menu_in_anim {
    from { top: 100vh; left: -50vw; opacity: 0; -webkit-transform: scale(0.1,0.1); }
    to   { top: 0;     left: 0;     opacity: 1; -webkit-transform: scale(1,1); }
}

@keyframes menu_in_anim {
    from { top: 100vh; left: -50vw; opacity: 0; transform: scale(0.1,0.1); }
    to   { top: 0;     left: 0;     opacity: 1; transform: scale(1,1); }
}

.spinner {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    transform-origin: 50% 50%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menu {
    color: #777;
    background-color: #ddd;
    position: absolute;
    width: 50vw;
    top: 14vh;
    left: 25vw;
    z-index: 5070;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
    box-sizing: border-box;
}
.menu .title {
    padding: 2% 2%;
    font-size: 7vmin;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.menu .footer {
    padding-bottom: 1vh;
    font-size: 7vmin;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.menu .option {
    padding: 0.75% 2%;
    font-size: 4vmin;
    /* width: 100%; */
    text-transform: uppercase;
}
.menu .option:hover {
    color: #ddd;
    background-color: #999;
}
.menu .option .arrow {
    content: url('svr/resources/arrow.svg');
}
.menu .option:hover .arrow {
    content: url('svr/color_img.php?file=resources/arrow.svg&color=DDDDDD');
}
.menu .line {
    width: 100%;
    height: 1px;
    background-color: #999;
}
.menu .option .icon {
   margin: 1vh 0 0 0;
   width: 3.2vmin;
   height: 3.2vmin;
   border-radius: 0.17em;
}
.menu .option .checkbox {
   background-color: #f0f0f0;
}
.menu .option .right, .right {
   float: right;
}
.menu .option select {
    background-color: #f0f0f0;
}
.menu .option input.tiny {
    width: 11%;
    text-align: center;
 }
.menu .option input.small {
    width: 19%;
 }
 .menu .option input.large {
    width: 40%;
 }
 .menu .prompt {
    padding: 2% 2%;
 }

.game_editor {
    color: #777777;
    background-color: #ddd;
    position: absolute;
    top: 5vh;
    left: 5vw; width: 85vw;
    z-index: 5040;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
    padding: 0 3% 0 2%;
}
.game_editor small {
    font-family: 'ohc_light';
    font-size: 75%;
}
.game_editor .rom {
    padding: 1% 2%;
    font-weight: bold;
    font-size: 4.5vmin;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}
.game_editor .missing {
    color: #c00;
}
.game_editor .found {
    color: #0c0;
    font-weight: bold;
}
.game_editor th {
    text-transform: uppercase;
}
.game_editor td.wide {
    width: 100%;
    /* border-bottom: 1px solid #aaa; */
    /* padding-top: 1%; */
    vertical-align: middle;
}
.game_editor td.narrow {
    width: 45%;
    /* border-bottom: 1px solid #aaa; */
    vertical-align: middle;
    /* padding: 0.5vh 0; */
}
.game_editor th {
    width: 10%;
    max-width: 10%;
    text-align: right;
    vertical-align: top;
    padding-right: 1%;
    /* border-bottom: 1px solid #aaa; */
    /* padding-top: 1%; */
}
.game_editor th.top {
    vertical-align: top;
}
.game_editor .icon {
    /* margin-top: 1vh; */
    height: 3.2vmin;
}
.game_editor .working {
    padding: 1% 2%;
    font-weight: bold;
    font-size: 4vmin;
    text-align: left;
}

.gui button {
    color: #777777;
    background-color: #ddd;
    border: 2px solid #777777;
    border-radius: 0.3em;
    font-family: ohc_regular;
    padding: 0.15em 0.45em;
    margin: 1% 0.5%;
    font-size: 3.5vmin;
    text-transform: uppercase;
}
.gui button.todo {
    text-decoration: line-through;
}
.gui button:focus {
    color: #ddd;
    background-color: #777777;
    outline: none;
}
.gui button:hover {
    color: #ddd;
    background-color: #999;
}
.gui input, .gui textarea {
    color: #777777;
    background-color: #f0f0f0;
    font-family: ohc_light;
    padding: 0 0.5vw;
    border: 1px solid #444;
    border-radius: 0.25em;
}
.game_editor input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.game_editor input[type=number] {
    width: 15%;
    margin-right: 0.25vw;
}
.game_editor input[type=date] {
    width: 50%;
}
.game_editor input, .game_editor select {
    width: 100%;
    margin: 0.1vh 0;
}
.game_editor input.fileclear {
    width: 86%;
    margin: 0;
}
.game_editor button.clear {
    width: 5vw;
    font-size: 2.6vmin;
    vertical-align: top;
    padding: 0;
    margin: 0.1vh 0.1vw;
    text-align: center;
    position: absolute;
    text-overflow: hide;
}
.game_editor input.missing {
    color: red;
    border: 2px solid red;
}
.game_editor textarea {
    width: 100%;
    height: 100%;
    margin: 0.1vh 0 0 0;
    font-size: 3vmin;
}
.game_editor .snap {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%;
    text-align: center;
}

.preview {
    position: absolute;
    z-index: 5070;
    top: -2vh;
    left: -3vw;
    font-size: 12pt;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.4);
    padding: 0;
    background-color: rgba(240,240,240,0.4);
    background-image: url("svr/resources/alpha.png");
    background-repeat: repeat;
    overflow: hidden;
}
.info {
    position: absolute;
    text-align: left;
    padding: 0;
    font-weight: bold;
    text-shadow: 2px 2px 3px black,
                -1px -1px 0 black,
                 1px -1px 0 black,
                -1px 1px 0 black,
                 1px 1px 0 black;
}
.themeVideo .info {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.themeVideo:hover .info .controls.play {
    opacity: 1;
}

.preview .info {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6001;
}
.info .details {
    color: yellow;
    float: right;
    margin: 5px 10px;
    text-align: right;
}
.info .controls {
    color: white;
    float: left;
    margin: 5px 10px;
}
.info .controls span {
    border: 2px solid #aaa;
    border-radius: 0.3em;
    font-family: ohc_regular;
    padding: 0 5px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.4);
}
info .controls span:hover {
    background-color: rgba(200,200,200,0.6);
}
.info .controls.play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    margin: 0;
}

.hr {
    width: 98%;
    height: 1px;
    background-color: #555;
    margin: 5px 0;
}
.progressbar {
    text-align: center;
    font-size: 2.5vmin;
    color: #f0f0f0;
    background-color: #888;
}
.upload {
    position: relative;
    font-size: 2.5vmin;
    padding: 1.5vh 1vw;
    background-color: #f0f0f0;
    outline: 2px dashed #444;
    outline-offset: -1vmin;
    margin: 0 2vw;
}
.romupload {
    position: relative;
    padding: 0.5vh 2vw;
    outline: 1px dashed rgba(200,200,200,0.6);
    outline-offset: -0.2vmin;
    margin: 0;
    font-size: 67%;
}
.upload .icon {
    width: 2.5vmin;
    height: 2.5vmin;
}
.uploadfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.uploadfile + label {
    cursor: pointer;
}
.uploadfile:focus + label,
.uploadfile + label:hover {
    font-weight: 700;
}

.fade-in-out {
    -webkit-transition: 0.2s linear all;  
    -moz-transition: 0.2s linear all;  
    -o-transition: 0.2s linear all;  
    transition: 0.2s linear all;  
    opacity: 1;
}
.fade-in-out.ng-hide {
    opacity: 0;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


.slideleft,
.slideright,
.slideup,
.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slideleft.ng-enter,
.slideleft.ng-leave,
.slideright.ng-enter,
.slideright.ng-leave,
.slideup.ng-enter,
.slideup.ng-leave,
.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.slideleft.ng-enter {
    left: 100%;
}
.slideleft.ng-enter-active,
.slideleft.ng-leave {
    left: 0;
}
.slideleft.ng-leave-active,
.slideright.ng-enter {
    left: -100%;
}
.slideright.ng-enter-active,
.slideright.ng-leave {
    left: 0;
}
.slideright.ng-leave-active {
    left: 100%;
}

.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active,
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active,
.slidedown.ng-enter {
    top: -100%;
}
.slidedown.ng-enter-active,
.slidedown.ng-leave {
    top: 0;
}
.slidedown.ng-leave-active {
    top: 100%;
}
