<div ng-controller="GamelistCtrl">
   <div ng-if="GameService.header"
        ng-style="GameService.headerstyle" >
      <div class="text header"
           ng-repeat="field in GameService.fields_shown"
           ng-style="field.headerstyle"
           ng-click="GameService.setOrderBy(field); util.defaultFocus()">{{field.text}}</div>
   </div>
<!--
       ng-touchcancel="mouseUp($event)"
       ng-touchend="mouseUp($event)"
       ng-touchstart="mouseDown($event)"
       ng-touchmove="mouseMove($event)"
       ondrop="drop(event)"
       ondragover="allowDrop(event)" >
-->
   <div id="scroller" tabindex=0
       ng-style="GameService.liststyle"
       ng-keydown="util.keyPress($event)"
       ng-keyup="util.keyRelease($event)">
      <div class="gamelist"
        ng-style="{height: (GameService.filtered.length * ThemeService.gamelist.linesize * 100)+'vh'}">
        <div class="gamerow"
             ng-repeat="game in GameService.filtered = ( GameService.gamelist
                     |filter:{name:ThemeService.filter}
                     |directory:GameService.subdir
                     |orderBy:GameService.orderby.orderby:GameService.orderby.reverse )
               |startFrom:GameService.buffer_index
               |limitTo:ThemeService.gamelist.rows+100"
           ng-click="GameService.clickGame(game, $event, $index)"
           ng-style="GameService.getGameStyle(game, GameService.buffer_index+$index)"
           ng-mouseover="mouseOver(game, $event)">
           <!-- text and datetime fields -->
           <div ng-repeat="field in GameService.fields_shown = (GameService.list_fields|filter:{show:true})|fieldtype:'text'"
                ng-style="field.style" class="text"
                ng-bind="GameService.getGameMetadata(game, field, true)" >
           </div>
           <!-- image toggle fields -->
           <div ng-repeat="field in GameService.fields_shown|fieldtype:'toggle'"
                ng-style="field.style" class="text">
              <md-image-toggle game="game" md="{{field.name}}" autosave=1
                               size="field.vw" size-units="vmin">
              </md-image-toggle></div>
           <!-- rating -->
           <div ng-repeat="field in GameService.fields_shown|fieldtype:'rating'"
                ng-style="field.style" class="text">
              <theme-rating game="game" autosave=1
                            size="field.vw" size-units="vw"></theme-rating></div>
        </div>
      </div>
   </div>
</div>
