<div class="menu gui">

  <div class="header"> MAIN MENU </div>
  <div class="line"></div>

  <div class="option"
       ng-class="{hover: config.hover == option}"
       ng-repeat-start="option in config.menu.main"
       ng-click="config.goMenu(option.action)"
       ng-mouseover="config.hover = option"
       ng-mouseout="config.hover = null">
    {{option.text}}
    <img class="icon right" 
      ng-src="svr/{{
           config.hover == option
           ? 'color_img.php?file=resources/arrow.svg&color=DDDDDD'
           : 'resources/arrow.svg'}}"></img>
  </div>
  <div class="line"
       ng-repeat-end></div>

  <div class="footer">
     <button ng-click="config.hideMenu()">CANCEL</button>
  </div>

</div>
