<div class="menu gui">

  <div class="header"> HELPBAR SETTINGS </div>
  <div class="line"></div>

 <span ng-if="!config.env.read_only">

  <div class="option"
       ng-class="{hover: config.hover == 1}"
       ng-mouseover="config.hover = 1"
       ng-mouseout="config.hover = null">
    SHOW FILTERED/TOTAL GAME COUNT
      <image-toggle class="checkbox right"
              ng-model="config.app.ShowGameCounts"
              on-svg="resources/checkbox_checked.svg"
              off-svg="resources/checkbox_unchecked.svg">
      </image-toggle>
  </div>
  <div class="line"></div>

  <div class="option"
       ng-class="{hover: config.hover == 2}"
       ng-mouseover="config.hover = 2"
       ng-mouseout="config.hover = null">
    SHOW ADD/REMOVE LIST COLUMNS
      <image-toggle class="checkbox right"
              ng-model="config.app.ShowAddFields"
              on-svg="resources/checkbox_checked.svg"
              off-svg="resources/checkbox_unchecked.svg">
      </image-toggle>
  </div>
  <div class="line"></div>

  <div class="option"
       ng-class="{hover: config.hover == 3}"
       ng-mouseover="config.hover = 3"
       ng-mouseout="config.hover = null">
    SHOW THEME SELECT
      <image-toggle class="checkbox right"
              ng-model="config.app.ShowThemeSelect"
              on-svg="resources/checkbox_checked.svg"
              off-svg="resources/checkbox_unchecked.svg">
      </image-toggle>
  </div>
  <div class="line"></div>

  <div class="option"
       ng-class="{hover: config.hover == 4}"
       ng-mouseover="config.hover = 4"
       ng-mouseout="config.hover = null">
    SHOW VIEW SELECT
      <image-toggle class="checkbox right"
              ng-model="config.app.ShowViewSelect"
              on-svg="resources/checkbox_checked.svg"
              off-svg="resources/checkbox_unchecked.svg">
      </image-toggle>
  </div>
  <div class="line"></div>

 </span>

  <div class="footer">
     <button ng-click="config.exitMenu()">BACK</button>
  </div>

</div>
