<div class="menu gui">

  <div class="header"> UI SETTINGS </div>
  <div class="line"></div>

  <div class="option"
       ng-class="{hover: config.hover == 1}"
       ng-mouseover="config.hover = 1"
       ng-mouseout="config.hover = null">
    THEME SET
     <select class="right"
             ng-model="config.app.ThemeSet"
             ng-change="themeChanged()"
             ng-keydown="config.menuKeyPress($event)"
             ng-options="theme.name as theme.name for theme in ThemeService.themes | orderObjectBy:'name':false">
     </select>
  </div>
  <div class="line"></div>

 <span ng-if="!config.env.read_only">
  <div class="option"
       ng-class="{hover: config.hover == 2}"
       ng-mouseover="config.hover = 2"
       ng-mouseout="config.hover = null">
    LANGUAGE
     <select class="right"
             ng-model="config.app.Language"
             ng-change="languageChanged()"
             ng-keydown="config.menuKeyPress($event)"
             ng-options="key as value for (key, value) in config.lang.languages">
     </select>
  </div>
  <div class="line"></div>

  <div class="option"
       ng-class="{hover: config.hover == 3}"
       ng-mouseover="config.hover = 3"
       ng-mouseout="config.hover = null">
    DATE FORMAT
     <input class="right"
            ng-model="config.app.DateFormat"
            ng-keydown="config.menuKeyPress($event)"
            ng-blur="dateFormatChanged()">
  </div>
  <div class="line"></div>

 </span>

  <div class="footer">
     <button ng-click="config.exitMenu()">BACK</button>
  </div>

</div>
